*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Oleo Script", sans-serif;
}
body{
    background: #dfe0df; 
    scroll-behavior: smooth;
}
nav{
    height: 20vh;
    background: #f6bd60;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

}
.navbar{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin-right: 50px;
}
.navbar a{
    text-decoration: none;
    text-transform: uppercase;
    color: #4A4337;
    font-size: 1.1rem;
}
.navbar a:hover{
    color: black;
}
.navbar a:focus{
    outline: none;
    color: #003366;
}
#section1{
    padding: 0px 20px;
    width: 100%;
    overflow: hidden;
}
nav span h1{
    font-size: 2.5rem;
    color: #4A4337;
}
.fk{
    display: none;
}
.bx-menu{
    font-size: 1.875rem;
    transform: translateY(5px);
    color: #4A4337;
    display: none;
}
.bx-menu:hover{
    color: black;
}

/*lp-homepg */
h1{
    font-size: 2rem;

}
p{
    line-height: 140%;
    letter-spacing: 0.9px;
}
#about p, #productpg >p{
    font-family: "Bad Script", serif;
    font-size: 1.1rem;
    font-weight: 1000;
}
#productpg, #about,.right-section,#signup-pg .left-section{
    text-align: center;
    padding: 40px 20px;
}
#productpg, #section1{
    background: #4A4337;
    color: #f6bd60;

}
.homepg1 h1{
    text-align: center;
    text-transform: capitalize;
    padding: 40px 20px 20px 40px ;

}
.homepg1 h1 span{
    color: #D8BFD8;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn-container a,.productcard a ,.btn-container a,.formcon a, #about .text a, .view{
    z-index: 1;
    overflow: hidden;
}
.btn-container a:hover,.productcard a:hover ,.formcon a:hover, #about .text a:hover, .view:hover{
    color: #D8BFD8;
}
.btn-container a::before,.productcard a::before ,.formcon a::before, #about .text a::before, .view::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: .6s;
    background: #4A4337;


}
.btn-container a:hover:before,.productcard a:hover:before ,.formcon a:hover:before, #about .text a:hover:before, .view:hover:before{
    width: 100%;
}


.btn-container a:nth-child(2){
    color: #D8BFD8;
    background: none;
    border: solid 1px #D8BFD8;
    margin-left: 20px ;

}
.btn-container a:nth-child(2):hover{
    color: #4A4337;

}
.btn-container a:nth-child(2):hover:before{
    background-color: #D8BFD8;

}
 /*Images*/

.gallery{
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    transform-style: preserve-3d;
    margin-top: 40px;
    
}
.gallerycard{
    aspect-ratio: 1 / 1.4;
    flex: 1;
    height: 220px; 
    /*
    -webkit-box-reflect: below 4px
    linear-gradient(
        transparent, rgba(0, 0, 0, 0.15)
    );*/
    transition: .4s;
    
}
.gallerycard:hover{
    scale: 1.2;
}
.gallery:hover > :not(:hover){
    transform: 
    perspective(400px)
    rotateY(30deg)
    scale(0.8)
    ;
}
.gallerycard:hover ~ .gallerycard{
    transform: 
    perspective(400px)
    rotateY(-30deg)
    scale(0.8)
    ;
}
.gallerycard img{
    display: block;
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1.4;
    object-fit: cover;
    border-radius: 5px;
}

/* section about*/
.videocon{
    width: 250px;
    height: 350px;
    white-space: none;
    overflow: hidden;
    background: #f6bd60;
    position: relative;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#about{
    width: 100%;
    background: #f6bd60;
    color:#4A4337 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about p{
    color: #4A4337;
    margin: 20px;
    
}

/* section Productpg*/
#productpg{
    background: #4A4337;
    color: #f6bd60;
    text-align: center;
    padding: 40px 20px;
}
#productpg  > h5{
    font-size: 1.2rem;
    font-family: "Bad Script", serif;
    font-weight: 1000;
    padding-bottom: 6px;

}
#productpg >p  {
    margin-bottom: 40px;
}
.productcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.productcard{
    border: solid 1px #D8BFD8;
    padding: 15px 30px;    /* 20px 40px*/
    border-radius: 10px;
}
.productcard h3{
    text-transform: capitalize;
    font-size: 1.6rem;
}
.productcard p{
    font-family: serif;
    font-size: 1.3rem;
    font-weight: 800;
}
.productcard a ,.btn-container a,.formcon a, #about .text a, .view{
    position: relative;
    text-decoration: none;
    font-family: "Bad Script";
    text-transform: capitalize;
    font-weight: 800;
    font-size: 1.1rem;
    width: 130px ;
    height: 100%;
    padding: 10px 20px ;
    color: #4A4337;
    border: solid 1px #D8BFD8;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 140%;
    letter-spacing: 0.9px;
    background: #D8BFD8;
}
#about .text a{
    width: 160px;

}
.view{
    margin-top: 20px;
    width: 160px;
}
.imgholder{
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    aspect-ratio: 1 / 1.2;
}
.imgholder img{
    height: 100%;
    aspect-ratio: 1 / 1.2;
    object-fit: cover;
}

/* section signup-pg*/

.right-section{
    background: #4A4337;


}
.right-section .formcon{
    
}
.right-section .formcon h5 {
    font-size: 1rem;
    font-family: "Bad Script", serif;
    font-weight: 1000;
    line-height: 140%;
    color: #f6bd60;
    letter-spacing: 0.9px;
}
.right-section .formcon input{
    height: 30px;
    width: 250px;
}
.right-section .formcon input:focus{
    outline: solid 1px #D8BFD8;
}
.form{
    margin-bottom:1.5rem ;
}
.right-section h1{
    color: #f6bd60;
}
#signup-pg .left-section{
    background: #f6bd60;

}
#signup-pg .left-section h1 {
    color: #003366;
}
#signup-pg .left-section h1 span{
    color: #4A4337;
}

#signup-pg .left-section p {
    font-family: "Bad Script", serif;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 40px;
    color: #4A4337;

}

/*footer*/

footer{
    background-image: linear-gradient(to right bottom, #f6bd60, #ccb959, #a4b25a, #7fa961, #5d9e6a);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 20rem;

}

footer>*{
    font-family: sans-serif;

}
footer a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: sans-serif;
    margin-bottom: 5px;
    color: black;
}
footer a:hover{
    color: #dfe0df;
}
.sponsors{
    display: flex;
    margin:10px 0px ;
}
.sponsors img{
    height: 10px;
    margin-right: 20px;
}
footer p{
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 600;
}

/*Media queries*/
@media (min-width: 321px) and (max-width:375px){
    h1{
        font-size: 2.5rem;
    }

}
@media (min-width: 376px) and (max-width:425px){
    h1{
        font-size: 2.5rem;
    }
    #about p, #productpg >p{
        font-size: 1.3rem;
    }
    .productcard{
        padding: 20px 40px;
    }
    .sponsors img{
        height: 15px;
    }
}
@media (min-width: 570px){
    #signup-pg{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        position: relative;
    }
    .left-section{
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formcon{
        margin-top: 50px;
    }
}
@media (min-width: 426px) and (max-width:679px){
    h1{
        font-size: 3rem;

    }
    #about p, #productpg >p{
        font-size: 1.3rem;
    }
    .sponsors img{
        height: 15px;
    }
}
@media (min-width: 680px) and (max-width:768px){
    h1{
        font-size: 3.5rem;

    }
    .videocon{
        width: 1000px;
        height: 400px;
        white-space: none;
        overflow: hidden;
        background: #f6bd60;
        position: relative;
        border-radius: 5px;     
    }
    video{
        width: 100%;
        height: 100%;
        object-fit: contain;

    }
    #about{
        flex-direction: row;
    }
    #about p{
        padding: 0px 50px 0px 50px;
    }
    #about p, #productpg >p{
        font-size: 1.3rem;
    }
    .productcon{
        display: grid;
        grid-template-columns: 312px 312px;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
    }
    .gallery{
        margin-bottom: 100px;
    }
    .gallerycard{
        aspect-ratio: 1 / 1.3;
        height: 250px; 
    }
    .gallerycard img{
        aspect-ratio: 1 / 1.3;
    
    }
    .sponsors img{
        height: 15px;
    }

}
@media (min-width: 769px) and (max-width:877px){
    .videocon{
        width: 1300px;
        height: 400px;
        white-space: none;
        overflow: hidden;
        background: #f6bd60;
        position: relative;
        border-radius: 5px;     
    }
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}
@media (min-width: 878px) and (max-width:1024px){
    .videocon{
        width: 1000px;
        height: 400px;
        white-space: none;
        overflow: hidden;
        background: #f6bd60;
        position: relative;
        border-radius: 5px;     
    }
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}

@media (min-width: 769px) and (max-width:1024px){
    h1{
        font-size: 4rem;

    }
    #signup-pg h1{
        font-size: 4rem;

    }

    #about{
        flex-direction: row;
    }
    #about p{
        padding: 0px 50px 0px 50px;
    }
    #about p, #productpg >p{
        font-size: 1.8rem;
    }
    .productcon{
        display: grid;
        grid-template-columns: 312px 312px;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        gap: 3rem;
    }
    #productpg > h5{
        font-size: 1.8rem;
    }
    .gallery{
        margin-bottom: 100px;
    }
    .gallerycard{
        aspect-ratio: 1 / 1.2;
        height: 320px; 
    }
    .gallerycard img{
        aspect-ratio: 1 / 1.2;
    
    }
    .right-section .formcon h5{
        font-size: 1.2rem;
    }
    .right-section .formcon input{
        height: 40px;
        width: 350px;
    }
    .sponsors img{
        height: 25px;
    }


}
@media (min-width: 1025px) {
    h1{
        font-size: 4rem;

    }
    .homepg1 h1{
        text-align: center;
        text-transform: capitalize;
        padding: 40px 20px 20px 40px ;
        margin: 0px 250px;
    }
    #signup-pg {
        height: 100vh;
    }
    #signup-pg h1{
        font-size: 4rem;

    }
    #signup-pg .left-section p{
        margin: 0px 70px ;
        font-size: 1.8rem;
    }

    #about{
        flex-direction: row;
    }
    #about p{
        padding: 0px 50px 0px 50px;
    }
    #about p, #productpg >p{
        font-size: 1.8rem;
    }
    .videocon{
        width: 900px;
        height: 550px;
        white-space: none;
        overflow: hidden;
        background: #f6bd60;
        position: relative;
        border-radius: 5px;    
        margin-left: 100px; 
    }
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    .productcon{
        display: grid;
        grid-template-columns: 312px 312px 312px;
        grid-template-rows: 1fr 1fr ;
        justify-content: center;
        gap: 3rem;
    }
    #productpg > h5{
        font-size: 1.8rem;
    }
    .gallery{
        margin-bottom: 100px;
    }
    .gallerycard{
        aspect-ratio: 1 / 1.2;
        height: 320px; 
        -webkit-box-reflect: below 4px
        linear-gradient(
            transparent, rgba(0, 0, 0, 0.15)
        );
    }
    .gallerycard img{
        aspect-ratio: 1 / 1.2;
    
    }
    .right-section .formcon h5{
        font-size: 1.3rem;
    }
    .right-section .formcon input{
        height: 50px;
        width: 450px;
    }
    .sponsors img{
        height: 30px;
    }



}

/*
.videocon{
    width: 500px;
    height: 400px;
    white-space: none;
    overflow: hidden;
    background: #f6bd60;
    position: relative;     
}
video{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
    #signup-pg{
    display: flex;
    width: 100vw;
    height: 100vh;
}
    @media (min-width: 933px) and (max-width:1024px){
        .left-section h1{
            margin-bottom: 40px;
        }
}

    #003366
        #signup-pg .right-section{
    width: 50vw;
    background: #f6bd60;

#signup-pg .left-section{
    width: 50vw;
    background: #4A4337;

*/



/*
code cleansing










}






*/
